@font-face {
  font-family: "Bitstream Vera Serif Bold";
  src: url("https://mdn.github.io/css-examples/web-fonts/VeraSeBd.ttf");
}

body {
  margin: 0 auto;
  background-color: white;
  font-family: "Bitstream Vera Serif Bold";
  color: #333333;
  line-height: 1;
  max-width: 800px;
  padding: 30px;
  font-size: 12px;
}

p {
  line-height: 150%;
  max-width: 960px;
  font-weight: 400;
  color: #333333;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h2,
h3,
h4,
h5,
p {
  margin-bottom: 25px;
  padding: 0;
}

h1 {
  margin-bottom: 10px;
  font-size: 300%;
  padding: 0px;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 120%;
}

h4 {
  font-size: 100%;
}

h5 {
  font-size: 80%;
  font-weight: 100;
}

h6 {
  font-size: 80%;
  font-weight: 100;
  color: red;
}

a {
  color: grey;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

a:hover {
  text-decoration: blink;
  color: green;
}

a:visited {
  color: black;
}

ul,
ol {
  padding: 0;
  margin: 0px 0px 0px 50px;
}

ul {
  list-style-type: square;
  list-style-position: inside;
}

li {
  line-height: 150%;
}

li ul,
li ul {
  margin-left: 24px;
}

pre {
  padding: 0px 24px;
  max-width: 800px;
  white-space: pre-wrap;
}

code {
  font-family:
    Consolas,
    Monaco,
    Andale Mono,
    monospace;
  line-height: 1.5;
  font-size: 13px;
}

aside {
  display: block;
  float: right;
  width: 390px;
}

blockquote {
  border-left: 0.5em solid #eee;
  padding: 0 1em;
  margin-left: 0;
  max-width: 476px;
}

blockquote cite {
  line-height: 20px;
  color: #bfbfbf;
}

blockquote cite:before {
  content: "\2014 \00A0";
}

blockquote p {
  color: #666;
  max-width: 460px;
}

hr {
  text-align: left;
  margin: 0 auto 0 0;
  color: #999;
}
pre {
  line-height: 125%;
}
td.linenos .normal {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
span.linenos {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
td.linenos .special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}
span.linenos.special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}
.highlight .hll {
  background-color: #ffffcc;
}
.highlight {
  background: #f8f8f8;
  padding: 0.5rem 0;
}
.highlight .c {
  color: #3d7b7b;
  font-style: italic;
} /* Comment */
.highlight .err {
  border: 1px solid #f00;
} /* Error */
.highlight .k {
  color: #008000;
  font-weight: bold;
} /* Keyword */
.highlight .o {
  color: #666;
} /* Operator */
.highlight .ch {
  color: #3d7b7b;
  font-style: italic;
} /* Comment.Hashbang */
.highlight .cm {
  color: #3d7b7b;
  font-style: italic;
} /* Comment.Multiline */
.highlight .cp {
  color: #9c6500;
} /* Comment.Preproc */
.highlight .cpf {
  color: #3d7b7b;
  font-style: italic;
} /* Comment.PreprocFile */
.highlight .c1 {
  color: #3d7b7b;
  font-style: italic;
} /* Comment.Single */
.highlight .cs {
  color: #3d7b7b;
  font-style: italic;
} /* Comment.Special */
.highlight .gd {
  color: #a00000;
} /* Generic.Deleted */
.highlight .ge {
  font-style: italic;
} /* Generic.Emph */
.highlight .ges {
  font-weight: bold;
  font-style: italic;
} /* Generic.EmphStrong */
.highlight .gr {
  color: #e40000;
} /* Generic.Error */
.highlight .gh {
  color: #000080;
  font-weight: bold;
} /* Generic.Heading */
.highlight .gi {
  color: #008400;
} /* Generic.Inserted */
.highlight .go {
  color: #717171;
} /* Generic.Output */
.highlight .gp {
  color: #000080;
  font-weight: bold;
} /* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
  color: #800080;
  font-weight: bold;
} /* Generic.Subheading */
.highlight .gt {
  color: #04d;
} /* Generic.Traceback */
.highlight .kc {
  color: #008000;
  font-weight: bold;
} /* Keyword.Constant */
.highlight .kd {
  color: #008000;
  font-weight: bold;
} /* Keyword.Declaration */
.highlight .kn {
  color: #008000;
  font-weight: bold;
} /* Keyword.Namespace */
.highlight .kp {
  color: #008000;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #008000;
  font-weight: bold;
} /* Keyword.Reserved */
.highlight .kt {
  color: #b00040;
} /* Keyword.Type */
.highlight .m {
  color: #666;
} /* Literal.Number */
.highlight .s {
  color: #ba2121;
} /* Literal.String */
.highlight .na {
  color: #687822;
} /* Name.Attribute */
.highlight .nb {
  color: #008000;
} /* Name.Builtin */
.highlight .nc {
  color: #00f;
  font-weight: bold;
} /* Name.Class */
.highlight .no {
  color: #800;
} /* Name.Constant */
.highlight .nd {
  color: #a2f;
} /* Name.Decorator */
.highlight .ni {
  color: #717171;
  font-weight: bold;
} /* Name.Entity */
.highlight .ne {
  color: #cb3f38;
  font-weight: bold;
} /* Name.Exception */
.highlight .nf {
  color: #00f;
} /* Name.Function */
.highlight .nl {
  color: #767600;
} /* Name.Label */
.highlight .nn {
  color: #00f;
  font-weight: bold;
} /* Name.Namespace */
.highlight .nt {
  color: #008000;
  font-weight: bold;
} /* Name.Tag */
.highlight .nv {
  color: #19177c;
} /* Name.Variable */
.highlight .ow {
  color: #a2f;
  font-weight: bold;
} /* Operator.Word */
.highlight .w {
  color: #bbb;
} /* Text.Whitespace */
.highlight .mb {
  color: #666;
} /* Literal.Number.Bin */
.highlight .mf {
  color: #666;
} /* Literal.Number.Float */
.highlight .mh {
  color: #666;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #666;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #666;
} /* Literal.Number.Oct */
.highlight .sa {
  color: #ba2121;
} /* Literal.String.Affix */
.highlight .sb {
  color: #ba2121;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #ba2121;
} /* Literal.String.Char */
.highlight .dl {
  color: #ba2121;
} /* Literal.String.Delimiter */
.highlight .sd {
  color: #ba2121;
  font-style: italic;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #ba2121;
} /* Literal.String.Double */
.highlight .se {
  color: #aa5d1f;
  font-weight: bold;
} /* Literal.String.Escape */
.highlight .sh {
  color: #ba2121;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #a45a77;
  font-weight: bold;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #008000;
} /* Literal.String.Other */
.highlight .sr {
  color: #a45a77;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #ba2121;
} /* Literal.String.Single */
.highlight .ss {
  color: #19177c;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #008000;
} /* Name.Builtin.Pseudo */
.highlight .fm {
  color: #00f;
} /* Name.Function.Magic */
.highlight .vc {
  color: #19177c;
} /* Name.Variable.Class */
.highlight .vg {
  color: #19177c;
} /* Name.Variable.Global */
.highlight .vi {
  color: #19177c;
} /* Name.Variable.Instance */
.highlight .vm {
  color: #19177c;
} /* Name.Variable.Magic */
.highlight .il {
  color: #666;
} /* Literal.Number.Integer.Long */
